<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinkao.erp.exam.mapper.ExamMapper">

    <select id="page" resultType="com.xinkao.erp.exam.vo.ExamPageVo">
        SELECT e.*
        FROM exam e
        LEFT JOIN exam_class ec ON e.id = ec.exam_id
        where 1=1 and e.is_del = 0
        <if test="query.examName != null and query.examName != ''">
            and e.exam_name LIKE CONCAT('%', #{query.examName}, '%')
        </if>
        <if test="query.status != null">
            and e.state = #{query.status}
        </if>
        <if test="classIds != null and classIds.size() > 0">
            and ec.class_id in
            <foreach item="item" index="index" collection="classIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        GROUP BY e.id
        ORDER BY e.create_time DESC
    </select>

    <select id="getExamPageSetByTypeAndShape" resultType="com.xinkao.erp.exam.dto.QuestionTypeListDto">
        SELECT t.id,t.type_name,t.shape,
               SUM(CASE t.state WHEN 1 then 1 else 0 end ) questionOnNum
        FROM	(
                    SELECT qt.id,qt.type_name,q.shape,q.state
                    FROM q_question_type qt
                             LEFT JOIN q_question q ON q.type = qt.id and q.is_del = 0
                    WHERe 1=1
                    <if test="difficultyLevel != null and difficultyLevel != ''">
                        and q.difficulty_level = #{difficultyLevel}
                    </if>
                    <if test="symbol != null and symbol.size() > 0">
                        and q.symbol in
                        <foreach item="item" index="index" collection="symbol" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </if>
                    GROUP BY qt.id,q.id,q.shape)
                    t GROUP BY t.id,t.shape ORDER BY t.id,t.shape
    </select>

</mapper>