<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinkao.erp.exam.mapper.ExamPageUserMapper">

    <select id="page" resultType="com.xinkao.erp.exam.model.vo.ExamUserVo">
        SELECT epu.*,e.exam_name
        FROM exam_page_user epu
        LEFT JOIN exam e ON epu.exam_id = e.id
        WHERE 1=1 and epu.user_id = #{userId} and e.is_del = 0
    </select>

    <select id="pageTeacher" resultType="com.xinkao.erp.exam.vo.ExamPageTeacherVo">
        SELECT e.id examId,e.exam_name,e.state,e.start_time,e.end_time,e.create_time,
               SUM(IF(epu.need_correct = 1 and epu.on_correct = 1,1,0)) correctNum,
               SUM(IF(epu.need_correct = 1,1,0)) shouldCorrectNum
        FROM exam_class ec
                 LEFT JOIN exam e ON e.id = ec.exam_id
                 LEFT JOIN exam_page_user epu ON epu.exam_id = e.id and epu.class_id = #{query.classId}
        WHERE ec.class_id = #{query.classId} and e.is_del = 0
        GROUP BY e.id
    </select>

    <select id="getExamUserListForExamId" resultType="com.xinkao.erp.exam.vo.ExamPageUserListVo">
        SELECT epu.*,u.real_name
        FROM `exam_page_user` epu
        LEFT JOIN `user` u ON u.id = epu.user_id
        WHERE epu.exam_id = #{query.examId} and epu.class_id = #{query.classId}
    </select>
</mapper>
