<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinkao.erp.exercise.mapper.ExerciseRecordsMapper">
    <select id="page" resultType="com.xinkao.erp.exercise.entity.ExerciseRecords">
        SELECT * FROM exercise_records
        where 1=1 and is_del = 0
        <if test="query.moduleId != null and query.moduleId != ''">
            and module_id =  #{query.moduleId}
        </if>
        <if test="query.userId != null and query.userId != ''">
            and user_id =  #{query.userId}
        </if>
        <if test="query.shape != null and query.shape != ''">
            and shape =  #{query.shape}
        </if>
        <if test="query.questionScore != null and query.questionScore != ''">
            and question_score =  #{query.questionScore}
        </if>
        <if test="query.completionStatus != null and query.completionStatus != ''">
            and completion_status =  #{query.completionStatus}
        </if>
        ORDER BY create_time DESC
    </select>
    <select id="getListUserName" resultType="com.xinkao.erp.exercise.query.ExerciseRecordsQuery">
        SELECT er.*,  u.real_name FROM exercise_records er left join
            user u on er.user_id = u.id
        WHERE 1 = 1
        <if test="summaryStuParam.stuId != null and summaryStuParam.stuId.size() > 0">
            and er.user_id in
            <foreach collection="summaryStuParam.stuId" open="(" separator="," close=")">#{stuId}</foreach>
        </if>
        ORDER BY create_time DESC
    </select>
</mapper>
