<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinkao.erp.exercise.mapper.InstantFeedbacksMapper">

    <select id="page" resultType="com.xinkao.erp.exercise.entity.InstantFeedbacks">
        SELECT
        ife.*,
        u.real_name
        FROM
        instant_feedbacks ife
        LEFT JOIN
        user u ON ife.user_id = u.id
        WHERE
        1=1
        AND ife.is_del = 0
        <if test="query.shape != null and query.shape != ''">
            AND ife.shape = #{query.shape}
        </if>
        <if test="query.recordId != null and query.recordId != ''">
            AND ife.record_id = #{query.recordId}
        </if>
        <if test="query.isCorrect != null and query.isCorrect != ''">
            AND ife.is_correct = #{query.isCorrect}
        </if>
        <if test="query.userId != null and query.userId != ''">
            AND ife.user_id = #{query.userId}
        </if>
        <if test="query.startTime != null and query.startTime != ''">
            AND ife.update_time >= concat(#{query.startTime}, ' 00:00:00')
        </if>
        <if test="query.endTime != null and query.endTime != ''">
            AND ife.update_time <![CDATA[<=]]> concat(#{query.endTime}, ' 23:59:59')
        </if>
        ORDER BY
        ife.create_time DESC
    </select>


</mapper>
