<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinkao.erp.user.mapper.UserMapper">
<!-- 分页查询 -->
	<select id="page" resultType="com.xinkao.erp.user.vo.UserPageVo">
		SELECT u.*,r.role_name,c.class_name
		FROM `user` u
		LEFT JOIN `role` r ON r.id = u.role_id
		LEFT JOIN class_info c ON c.id = u.class_id
		WHERE 1=1 and u.is_del = 0
		<if test="userQuery.realName != null and userQuery.realName != ''">
			and u.real_name LIKE CONCAT('%', #{userQuery.realName}, '%')
		</if>
		<if test="userQuery.username != null and userQuery.username != ''">
			and u.username LIKE CONCAT('%', #{userQuery.username}, '%')
		</if>
		<if test="userQuery.roleId != null and userQuery.roleId != ''">
			and u.role_id = #{userQuery.roleId}
		</if>
		<if test="userQuery.state != null and userQuery.state != ''">
			and u.state = #{userQuery.state}
		</if>
		<if test="userQuery.classId != null and userQuery.classId != ''">
			and u.class_id = #{userQuery.classId}
		</if>
		<if test="userQuery.currentUserRoleId != null and userQuery.currentUserRoleId == 18">
			and u.role_id IN (2, 3)
		</if>
		<if test="userQuery.currentUserRoleId != null and userQuery.currentUserRoleId == 19">
			and u.role_id IN (20, 21)
		</if>

		GROUP BY u.id
		ORDER BY u.id DESC
	</select>

	<select id="getDutiesList" resultType="java.lang.String">
		SELECT dutie
		FROM `user`
		WHERE is_del = 0 and dutie != '' and dutie is not null
		<if test="userQuery.dutie != null and userQuery.dutie != ''">
			and dutie LIKE CONCAT('%', #{userQuery.dutie}, '%')
		</if>
		GROUP BY dutie
	</select>

	<select id="getUserDepartmentList" resultType="com.xinkao.erp.user.vo.UserDepartmentVo">
		SELECT u.id userId,u.real_name,u.mobile,ud.department_id
		FROM `user` u
				 left JOIN user_department ud ON u.id = ud.user_id
		WHERE u.is_del = 0 and ud.department_id is not NULL
		GROUP BY u.id,ud.department_id
	</select>

	<select id="getUserInfoBySelf" resultType="com.xinkao.erp.user.vo.UserInfoVo">
		SELECT u.*,r.role_name,c.class_name
		FROM `user` u
		LEFT JOIN `role` r ON r.id = u.role_id
		LEFT JOIN class_info c ON c.id = u.class_id
		WHERE 1=1 and u.is_del = 0 and u.id = #{userId}
	</select>

	<select id="getExamAndPracticeBarForExam" resultType="com.xinkao.erp.user.vo.ExamAndPracticeBarVo">
		SELECT qt.id,qt.type_name,IF(SUM(ea.score) is null,0,SUM(ea.score)) score,IF(SUM(ea.user_score) is null,0,SUM(ea.user_score)) userScore
		FROM q_question_type qt
		LEFT JOIN `exam_page_user_answer` ea ON qt.id = ea.type and user_id = #{userId} and ea.answer_status = 1
		<if test="query.startTime != null and query.startTime != ''">
			and ea.create_time >= #{query.startTime}
		</if>
		<if test="query.endTime != null and query.endTime != ''">
			and #{query.endTime} >= ea.create_time
		</if>
		WHERE 1=1
		GROUP BY qt.id ORDER BY qt.id
	</select>

	<select id="getExamAndPracticePieForExam" resultType="com.xinkao.erp.user.vo.ExamAndPracticePieVo">
		SELECT qt.id,qt.type_name,
		COUNT(ea.id) teaNum,
		SUM(IF(ea.answer_status = 1,1,0)) userTeaNum
		FROM q_question_type qt
		LEFT JOIN `exam_page_user_answer` ea ON qt.id = ea.type and user_id = #{userId}
		<if test="query.startTime != null and query.startTime != ''">
			and ea.create_time >= #{query.startTime}
		</if>
		<if test="query.endTime != null and query.endTime != ''">
			and #{query.endTime} >= ea.create_time
		</if>
		WHERE 1=1
		GROUP BY qt.id ORDER BY qt.id
	</select>
</mapper>
