<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinkao.erp.course.mapper.CourseMapper">
    <select id="page" resultType="com.xinkao.erp.course.entity.Course">
        SELECT * FROM course
        where 1=1 and is_del = 0
        <if test="query.courseName != null and query.courseName != ''">
            and course_name LIKE CONCAT('%', #{query.courseName}, '%')
        </if>
        <if test="query.courseStatus != null">
            and course_status = #{query.courseStatus}
        </if>
        ORDER BY create_time DESC
    </select>
</mapper>
